{{>header}}
<title>YOS Enterprises | About</title>
{{>navbar}}
<div class="container-fluid  mt-2">
    <h5 class="background text-light text-center p-2">About Us</h5>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    About Our Company
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem velit, officia quibusdam magnam
                    excepturi minus ipsam quia error eligendi tenetur obcaecati quae fuga minima optio fugiat sunt nihil
                    est quas. Ut sapiente modi nemo ipsum optio delectus debitis natus consectetur, quod fugiat
                    nesciunt? Error natus tenetur, optio accusantium officia cumque vitae quisquam? Ex nihil perferendis
                    quam! Vero sit illum, impedit mollitia totam a sequi harum adipisci quisquam, voluptas asperiores
                    quasi quaerat unde cumque officiis. Excepturi consequuntur est sed perspiciatis necessitatibus vitae
                    nostrum, obcaecati, exercitationem modi animi quod omnis odit, ad ex asperiores architecto.
                    Voluptatem cum laborum minus dignissimos inventore accusantium neque provident excepturi sit,
                    assumenda ea, omnis magni accusamus distinctio eum iusto eaque tempora asperiores dolorem. Id
                    officiis, ratione sunt molestiae quisquam expedita delectus est quam, placeat eligendi animi
                    repellendus obcaecati, modi maiores voluptas debitis ipsa! Impedit error ipsum earum officiis odio.
                    Autem at expedita ex ea consequatur doloremque molestiae, assumenda labore! Nam, consectetur natus!
                    Harum sapiente doloribus eaque assumenda, mollitia id ipsam vel ea modi molestiae iure quasi earum
                    cum sunt similique. Praesentium, incidunt corporis modi, corrupti saepe alias facere voluptatem
                    ipsam quidem non sapiente, unde officiis? Voluptatibus perferendis explicabo odio ut reprehenderit,
                    suscipit nihil accusantium voluptate dolorum asperiores.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    About Our Team
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque quo, ducimus iusto optio atque
                    aliquam deserunt quasi animi, non quis sunt repudiandae voluptas dignissimos quisquam veritatis
                    sint. Placeat assumenda rerum tenetur sapiente deserunt nihil voluptatibus fugit modi repellat,
                    laborum quos hic repellendus! Incidunt labore a voluptatibus amet sint maxime reiciendis eius,
                    itaque repellat aliquid illo distinctio numquam. Quibusdam cum numquam porro natus, tempora ab. Rem
                    illum aut nesciunt neque nisi reprehenderit distinctio? Voluptate adipisci quae aliquam accusantium
                    error facilis magnam. Corporis doloribus obcaecati laborum suscipit magnam magni ad dolorum
                    voluptatibus dolore dolor saepe at praesentium commodi veniam inventore, sunt animi?
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    About our Services
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor temporibus ut eos iste odio
                    repudiandae quibusdam minima nisi. Provident laboriosam nemo suscipit fugiat voluptatem esse sed
                    quos optio accusantium assumenda corrupti quaerat perspiciatis cupiditate expedita saepe, quibusdam
                    consequatur dignissimos tenetur autem! Qui perspiciatis consectetur adipisci velit quia! Dolores
                    eligendi sint soluta cum excepturi placeat cumque. Ab necessitatibus tenetur cum molestiae at.
                    Reprehenderit id necessitatibus illo voluptatibus exercitationem dignissimos facere reiciendis odio
                    voluptatem aspernatur mollitia fugiat molestias, tempora ab voluptates ducimus. Necessitatibus velit
                    reiciendis perferendis sunt ex veniam doloremque, excepturi dolores eum. Nostrum cum ducimus ipsum
                    nobis tempore voluptatem deserunt. Error, necessitatibus fuga. Adipisci asperiores aspernatur, dolor
                    corporis quasi repellendus, aliquid ratione quae aliquam nemo natus dolorum, quo recusandae porro?
                    Ipsam alias cum facilis molestiae officiis unde atque distinctio ea architecto omnis quos qui
                    temporibus debitis quisquam minima repellendus iste aliquam illum culpa repudiandae, cumque enim?
                    Officia, necessitatibus voluptatem error rem nostrum facere fugiat saepe ipsum aliquam aperiam optio
                    veritatis, ex quis odio voluptates nulla non. Eius, expedita laboriosam. Repellat ad sit,
                    necessitatibus fugit ut voluptas aut repudiandae nemo pariatur dolor, reprehenderit quis? Laborum
                    sunt ab dolore, iure aut quibusdam pariatur voluptatibus quas vitae minima quidem nobis,
                    reprehenderit nesciunt molestiae!
                </div>
            </div>
        </div>
    </div>

</div>
{{>footer}}