{{>header}}
<title>YOS Enterprises | Gallery</title>
{{>navbar}}
<div class="container-fluid mt-2">
    <h5 class="background text-light text-center p-2">Image Gallery</h5>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p1.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p2.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p3.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p4.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p5.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p6.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p7.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p8.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p9.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p10.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p11.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p12.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p13.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p14.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p15.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p16.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p17.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p18.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p19.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p20.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p21.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p22.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p23.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p24.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p25.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p26.jpg" class="w-100 rounded" height="400px">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-4">
            <img src="./images/p27.jpg" class="w-100 rounded" height="400px">
        </div>
    </div>
</div>
{{>footer}}